/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  padding: 1em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6347;
}

.container {
  max-width: 1200px;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.about-container h1 {
  font-size: 3em;
}

.introduction {
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
  border-radius: 10px;
}

.introduction h2 {
  color: #333;
  margin-bottom: 1em;
}

.introduction p {
  color: #666;
  line-height: 1.6;
}